# Miscellaneous
# *.class
# *.log
# *.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/


# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Allow debug APK(s) from build outputs
!/build/app/outputs/apk/debug/app-debug.apk
!/build/app/outputs/apk/debug/output-metadata.json


# Flutter & Dart
.dart_tool/

# Build outputs
build/.cxx/
build/.last_build_id
build/151be87b5948334171a20c4eae6d3685/
build/app/deeplink.json
build/app/intermediates/
build/app/kotlin/
build/app/outputs/apk/debug/output-metadata.json
build/app/outputs/flutter-apk/
build/app/outputs/logs/
build/app/tmp/
build/ca33f282d90356a564f3e3da52c97351.cache.dill.track.dill

